.panelGemini {
  font-size: 14px;
  line-height: 1.2;
}

.header {
  padding-bottom: 0.5em;
  color: #888;
  font-size: 12px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  cursor: move;
}
